<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<div th:replace="admin/common/head :: head"></div>
<body>
	<div th:replace="admin/common/header :: header"></div>
	<div style="display: flex;">
		<!-- 左侧菜单 -->
		<div th:replace="admin/common/menu :: menu"></div>

		<!-- 右侧内容 -->
		<div style="flex: 1;" class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<form role="form" th:action="@{/product/add}" method="post">

						<div class="form-group">
							<label for="exampleInputEmail1">商品名称</label> <input type="text"
								class="form-control" id="exampleInputEmail1" name="pname" />
						</div>

						<div class="form-group">
							<label for="exampleInputEmail2">商城价格</label> <input type="text"
								class="form-control" id="exampleInputEmail2" name="market_price" />
						</div>

						<div class="form-group">
							<label for="exampleInputEmail3">常规价格</label> <input type="text"
								class="form-control" id="exampleInputEmail3" name="shop_price" />
						</div>

						<div class="form-group">
							<label for="uploadImg">上传图片</label> 
							<input type="file" id="fileId"
								class="form-control"  />
								<img   src="#" id="imgShowId"
								style="width: 100px; height: 100px;display:none" />
								<input id="sendImg" type="hidden" value="" name="image" />
						</div>

						<div class="form-group">
							<label for="exampleInputEmail5">商品描述</label> <input type="text"
								class="form-control" id="exampleInputEmail5" name="pdesc" />
						</div>

						<div class="form-group">
							<label for="exampleInputEmail6">是否热门商品</label> <select
								class="form-control" id="exampleInputEmail6" name="is_hot">
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail7">所属二级分类</label> <select
								class="form-control" id="exampleInputEmail7" name="csid">
								<option th:text="${cs.csname}" th:value="${cs.csid}"
									th:each="cs : ${categorySecondList}"></option>
							</select>
						</div>

						<button type="submit" class="btn btn-default">新增</button>

					</form>
				</div>
			</div>
		</div>


	</div>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		const el = document.getElementById("fileId")
		const imgEl = document.getElementById("imgShowId")
		const imgEl1 = document.getElementById("sendImg")
		
		el.onchange = function(e){
			uploadFun(e)
		}
		
		function uploadFun(e) {
			
			let file = e.target.files[0];
			let formData = new FormData();
			formData.append("file", file);
			
			axios({
				url:"/upload/file",
				method:"post",
				data:formData,
				headers: {
					"Content-Type": "multipart/form-data"
					}
			}).then((res) => {
				imgEl.style.display = "block"
				imgEl.src = res.data.data
				imgEl1.value = res.data.data
			})
		}
	</script>
</body>
</html>